<html>
    <head>
        <title>SourCube</title>
        <link type="text/css" href="https://getbootstrap.com/1.0.0/assets/css/bootstrap-1.0.0.min.css">
    </head>
    <body style="background-color:rgba(157, 231, 221, 0.63)">
        <div id="content" class="row">
            <div id="head" class="row">
                <h1>SourCube</h1>
            </div>
            <div id="main" class="row">
                <div id="main_col" class="span1 columns">
                    <div class="row">
                        <textarea id="intext" placeholder="Add text here..." rows="8" cols="80"></textarea>
                    </div>
                    <div class="row">
                        <button id="generate_button" class="btn-light">GENERATE</button>
                    </div>
                    <div class="row">
                        <textarea id="outtext" rows="8" cols="80" disabled></textarea>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>